@media only screen and (max-width: 480px) {
	.container
	{
		width:auto;
		display:block;
		padding:0 10px;
	}
	
	header .black
	{
		padding:0 0 16px 0;
	}
	
	#header-navigation, .social-media-navigation, #navigation, #home p#tagline, .column-one-half, .column-one-third, .column-two-thirds, #page #content p, #main, aside

	{
		width:100%;
		float:none;
		padding:0;
	}
	
	.social-media-navigation
	{
		padding:10px 0 0 0;
	}
	
	#navigation ul 
	{
		display:block;
		float:none;
	}
	
	#header-navigation li a
	{
		margin:10px 0 0 0;
	}
	
	#navigation li a
	{
		padding:10px 20px 10px 0;
	}
	
	#logo
	{
		height:auto;
		padding:0 56px 0 0;
		margin:20px 0 0 0;
		float:none;
		background-image:url("../images/RCWIcon-mob.png");
	}
	
	#logo a
	{
		padding:45px 0 0 0;
	}
	
	.content
	{
		padding:0;
	}
	
	#home header
	{
		border-bottom: 6px solid #004E72;
	}
	
	p#tagline
	{
		display:none;
	}
	
	#home #masthead
	{
		background: none no-repeat scroll 0 0 #F7F7F7;
		float: left;
		width: 100%;
		height:auto;
		border-bottom:none;
		padding:0 0 44px 0;
	}
	
	#recent-projects li a img, #content a.thumbnail img
	{
		float: left;
		padding: 0;
		width: 245px;
	}
	
	#respond
	{
		 width: auto;
	}
	.comment 
	{
		float: left;
		width: auto;
	}
	
	#content
	{
			padding: 15px 0 62px;
	}
	
	#home #logo h1
	{
		padding:45px 0 0 0;
	}
	#page #content p
	{
		padding: 0 0 24px;
	}
	#breadcrumbs
	{
		display:none;
	}
	.single-post #main h1 
	{
		line-height: 1.15em;
		width:auto;
	}
	
	img, #home .latest-blog img
	{
		width:auto;
		height:auto;
		max-width:100%;
	}
	.left
	{
		padding-right:10px;
	}
	
	#navigation button {
    background: url("../images/bg-button.png") repeat-x scroll 0 0 #004D71;
    border: 1px solid #323234;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
	border-radius: 8px;
	-webkit-transition: border-radius 0.5s;
	padding: 12px;
	margin-top:10px;
}
#navigation button {
	cursor: pointer;
	display: block;
	width: 100%;
	
}
#navigation button:hover,
#navigation button:focus {
}

#navigation button.opened { 
border-bottom-left-radius:0;
border-bottom-right-radius:0;
}

#navigation button.opened:hover,
#navigation button.opened:focus { 
}
#navigation ul {
	background-color: #eee;
}
#navigation ul li a {
	padding: 15px 11px;
	color: #494949;
	border-bottom: 1px solid #ccc;
	font-size:1.125em;
	display:block;
}
#navigation ul li a:hover,
#navigation ul li a:focus {
	background-color: #ccc;
}
#navigation ul li.current_page_item  a {
	background-color: #323232;
	color: #fff;
}
.js .main-nav {
	clip: rect(0 0 0 0);
	max-height: 0;
	position: absolute;
	display: block;
	overflow: hidden;
	zoom: 1;
}
.main-nav.opened {
	max-height: 9999px;
}
a.more-link {
    display: inline-block;
    line-height: 1.5em;
    margin-top: 10px;
}

}